@font-face {
    font-family: 'iconfont';  /* project id 774630 */
    src: url('//at.alicdn.com/t/font_774630_30d3bvojkp2.eot');
    src: url('//at.alicdn.com/t/font_774630_30d3bvojkp2.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_774630_30d3bvojkp2.woff') format('woff'),
    url('//at.alicdn.com/t/font_774630_30d3bvojkp2.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_774630_30d3bvojkp2.svg#iconfont') format('svg');
}
.icon-font{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}